h1{
  font-family:'verdana';
}

p{
  font-family:'century gothic';
}

hr{
  border-style:dashed;
   background-color:white
}
img {
  border-radius: 10px;
}

table,
tr {
  border: 0px solid black;
  width: 80%;
  height: 90%
}

.city {
  background: url(https://phonoteka.org/uploads/posts/2021-04/1619242326_11-phonoteka_org-p-fon-s-nadpisyu-anime-12.jpg)no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  max-width: 1000px;
  margin: auto;
  height: 250px;
  width: 100%;
}

.color {
  border: 1px solid mistyrose;
  padding: auto;
  margin: auto;
  width:auto;
  background-color: mistyrose;
}

.img1 {
  float: left;
  margin-right: 30px;
}

.img2 {
  float: right;
  margin-left: 30px;
}

.img3 {
  float: left;
  margin-right: 30px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

    div.a {
      text-align: left;
    }

    #title {
      background-color: #B1D0B1;
    }

    #train {
      position: relative;
      cursor: pointer;
    }


    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }

    .tab button:hover {
      background-color: #ddd;
    }

    .tab button.active {
      background-color: #ccc;
    }

    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
